{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <div class="card shadow p-3 mb-4 rounded">
          <div class="card-body">
            <h2 class="card-title">{{ template_data.running_place.name }}</h2>
            <hr class="card-subtitle mb-2 text-muted" />
            <p class="card-text"><b>Description:</b> {{template_data.running_place.description}}</p>
            <p class="card-text"><b>Address:</b> {{template_data.running_place.address}}</p>
            <p class="card-text"><b>Path Type:</b> {{ context.path_display }}</p>
            <p class="card-text"><b>Terrain Type:</b> {{ context.terrain_display }}</p>
            <p class="card-text"><b>Length:</b> {{template_data.running_place.length}} mile(s)</p>
            <p class="card-text"><b>Parking:</b> {{ context.parking_display }}</p>
            <p class="card-text"><b>Public Restrooms:</b> {{ context.restroom_display }}</p>
          </div>
        </div>
        <h2>Reviews</h2>
        <hr />
        <ul class="list-group">
          {% for review in template_data.reviews %}
          <li class="list-group-item pb-3 pt-3">
            <h5 class="card-title">
              Review by {{ review.user.username }}
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
              {{ review.date }}
            </h6>
            <p class="card-text">{{ review.comment }}</p>
            {% if user.is_authenticated and user == review.user %}
            <a class="btn-custom btn-edit"
               href="{% url 'running_places.edit_review' id=template_data.running_place.id review_id=review.id %}">Edit
            </a>
            <a class="btn-custom btn-delete"
               href="{% url 'running_places.delete_review' id=template_data.running_place.id review_id=review.id %}">Delete
            </a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
        {% if user.is_authenticated %}
        <div class="container mt-4">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="card shadow p-3 mb-4 rounded">
                <div class="card-body">
                  <b class="text-start">Create a review
                    </b><br /><br />
                  <form method="POST" action= "{% url 'running_places.create_review' id=template_data.running_place.id %}">
                    {% csrf_token %}
                    <p>
                      <label for="comment">Comment:</label>
                      <textarea name="comment" required
                      class="form-control"
                      id="comment"></textarea>
                    </p>
                    <div class="text-center">
                      <button type="submit"
                        class="btn bg-dark text-white">
                        Add Review
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}