{% extends 'base.html' %}
{% block content %}
{% load static %}
<header class="masthead bg-index text-white text-center-py-4">
  <div class="container d-flex align-items-center flex-column pt-2">
    <h2>PathsAcrossAmerica</h2>
    <p>A compilation of places to run in your area!</p>
    <a href="{% url 'running_places.index' %}" class="btn btn-primary mt-3">Find a Place to Run!</a>
  </div>
</header>
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <h2>About</h2>
        <hr />
        <p>
           Running and walking are popular forms of exercise. When traveling, it can be difficult to find good places
           to run that do not require runners to stop multiple times each mile at stoplights or go into unsafe or high
           traffic areas. Furthermore, many runners desire to run on soft surfaces or are looking for new places
           to run in their current area to expand their options.
        </p>
        <p>
           PathsAcrossAmerica is a compilation of places to walk or run across the United States.
           Type in a city, zip code, or current address and see a list of spots to run that have been uploaded
           by other users, including the place’s address and distance from your current location! Users are able to
           map to these places too.
        </p>
        <p>
           Have a good place to run? Register for an account and please upload it here! Places can be categorized by
           the type of surface, the length of the trail or path, and whether the spot has free or paid parking and
           public restrooms. Add any helpful notes in the description section too!
        </p>
        <p>
           Have you been to one of these places? Leave a review!
        </p>
        <p>
           Overall, the goal of PathsAcrossAmerica is to make it easier for walkers and runners alike to find
           suitable places to train and exercise, making traveling simpler and expanding their current rotation of
           options where they live.
        </p>
      </div>
      <div class="col-md-6 mx-auto mb-3 text-center">
          <img src="{% static 'img/about.png' %}" alt="Map example" class="img-fluid rounded shadow">
        </div>
    </div>
  </div>
</div>
{% endblock content %}